<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1484769211-aor4vo6knn8qkq7pfpg2gd1cdo74spht.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1484769211-aor4vo6knn8qkq7pfpg2gd1cdo74spht</string>
	<key>API_KEY</key>
	<string>AIzaSyA4dXHNQNWKp41Hd6C_xVPxwnoaOIjdLzc</string>
	<key>GCM_SENDER_ID</key>
	<string>1484769211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jaeheon.UserLoginWithFirebase</string>
	<key>PROJECT_ID</key>
	<string>user-login-with-firebase-266ed</string>
	<key>STORAGE_BUCKET</key>
	<string>user-login-with-firebase-266ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1484769211:ios:cff3432198169b5f9c669e</string>
</dict>
</plist>